.peripheral{
    border-bottom:double;
    margin-bottom:1vh;
}
.commentbox{
    width: 85%;
    word-wrap: break-word;
    margin-left:1.5vw;
}
.goodbutton{
    margin-left: 1.5vw;
    border: none;
}