.head{
    background-color: rgb(190, 190, 255);
    width:50vw;
    height:15vh;
    margin-left: 21.5vw;
}
.webstie{
    width: 100%;
}
.webstiechinese{
    margin-left:42vw;
    font-size: 40px;
}
.webstieenglish{
    margin-left:41vw;
    margin-top:-2%;
    font-size: 20px;
    color: rgb(165, 165, 165);
}
.introductionneir{
    width:50vw;
    margin-left:22vw;   
    word-break: break-all;
    word-wrap: break-word;
    font-size: 15px;
}
.personalnameone{
    width: 50vw;
    margin:0vh 0vh 4vh 22vw;
    height: 20vh;
    word-break: break-all;
    word-wrap: break-word;
}
.Teammembers{
    margin-left:42.5vw;
    margin-top:-2%;
    font-size: 20px;
    color: rgb(165, 165, 165);
}
.personalnametow{
    width: 50vw;
    height: 20vh;
    margin:0vh 0vh 4vh 22vw;

}
.personaltext{
    height:20vh;
    width:37vw; 
    word-break: break-all;
    word-wrap: break-word;   
}
.foot{
    height: 5vh;
    width: 20vw;
    margin:15vh 0vw 0vh 37vw;
    border-top: solid rgb(197, 195, 195) thin;
    border-color:black;
    
}    