.article_main{
    width: 900px;
    background-color: white;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
}
.comment_area{
    width: 900px;
    background-color: white;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.article_info{
    background-color: green;
    display: inline;
}
.author_name{
    display: inline;
}
.abc{
    background-color: yellow;
    display: inline;
}
.submissionbutton{
    margin: 0vh 0vw 0vh 51vw;
    background-color: #1E90FF;
    color: white;
    border: none;
    height:4vh;
    width: 4vw;
    border-radius:8px;
    &:hover{cursor:pointer;}
}
.textareabox{
    width:55vw;  
}
.input{
    min-height: 12vh;
}
.buttonstyle{
    border: none;
    color: white;
    background-color: #1E90FF;
    width: 5vw;
    margin-right:0.5vw;
}
.hidebutton{
    border: none;
    color: white;
    background-color: #1E90FF;
    margin-left: 15vw;
}