.article_main{
    width: 900px;
    background-color: white;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
}
.comment_area{
    width: 900px;
    background-color: white;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.article_info{
    background-color: green;
    display: inline;
}
.author_name{
    display: inline;
}
.abc{
    background-color: yellow;
    display: inline;
}