.article_main{
    width: 900px;
    background-color: white;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
}
.comment_area{
    width: 900px;
    background-color: white;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.article_info{
    background-color: green;
    display: inline;
}
.author_name{
    display: inline;
}
.abc{
    background-color: yellow;
    display: inline;
}
.submissionbutton{
    margin: 0vh 0vw 0vh 51vw;
    background-color: #1E90FF;
    color: white;
    border: none;
    height:4vh;
    width: 4vw;
    border-radius:8px;
    &:hover{cursor:pointer;}
}
.input{
    min-height: 12vh;
}
.articlebutton{
    width:5vw;
    border: none;
}
.bedbutton{
    width:5vw;
    height:5vh;
    border: none;
    margin-top:1%;
}
.morebutton{
    width:5vw;
    border: none;
    margin-left:1%;
}
.hidebutton{
    border: none;
    margin-left:15vw;
}
.wangEditor{
    height:29vh;
    width: 30vw;
}