html,
body,
#app,
.el-col {
    height: 100vh;
}

.el-main {
    padding: 0;
    background-color: #b8e5f8;
}

.el-row {
    // background: url("#{$img}/day.png");
    background: url("./../picture/day.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.imgBoxContainer {
    height: 100%;
}

.imgBox {
    width: 50%;
    // background: url('#{$img}/logo.png');
    background: url("./../picture/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}

.content {
    margin-top: 20%;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: rgba(245, 245, 245, 0.5);
    // height: 50%;
    border-radius: 3%;
}

.active {
    border-bottom: 1px #1E90FF solid;
    color: #1E90FF;
}

.swithBox {
    font-size: 100%;
    overflow: auto;
}

.leftSwitch {
    float: left;
    margin-left: 30%;
    padding: 3% 5%;
    cursor: pointer;
}

.rightSwitch {
    float: right;
    margin-right: 30%;
    padding: 3% 5%;
    cursor: pointer;
}

.inputBox {
    margin: 5% auto 0;
    width: 75%;
}