.el-row {
    height: auto;
}

.inputBox {
    margin: 20% auto 0;
    width: 70%;
    .buttonBox {
        text-align: center;
    }
    position: relative;
}

.buttonBox {
    text-align: center;
}

.selectBox {
    .el-select {
        width: 100%;
    }
    width: 100%;
    margin: 0 auto;
}

.el-icon-error {
    color: red;
}

.el-icon-success {
    color: #32CD32;
}

.iconBox {
    position: absolute;
    top: 60%;
    right: -5%;
}