html,
body,
#app {
    height: auto !important;
}

.el-header {
    position: relative;
    z-index: 100;
}

.ulBox {
    ul {
        margin: 0.5rem 0 0 0;
    }
    li {
        text-align: center;
        font-size: 1.5rem;
        margin: 0.5rem 0;
        a {
            color: black;
            &:hover {
                color: white;
            }
        }
    }
}

.rotationChartBox {
    width: 70%;
}

//动画效果
.slide-fade-enter-active {
    transition: all 1s;
}

.slide-fade-enter,
.slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */

{
    transform: translateY(5px);
    opacity: 0;
}