/* 切换白天和黑夜 */

.black {
    background-color: #666!important;
}

.gray {
    background-color: #555 !important;
}

html,
body,
#app {
    margin: 0;
    /* 在followPage页面用到了padding为0 */
    padding: 0 !important;
}

// .el-container,
.el-main {
    height: 100%;
    margin: 0;
    /* 在followPage页面用到了padding为0 */
    padding: 0 !important;
}

.el-col .el-header {
    padding: 0px !important;
}

ul {
    padding: 0;
    margin: 0;
}