html,
body,
#app,
.el-container,
.el-main,
.el-row,
.el-col {
    height: 100%;
    background-color: #f1f1f1;
}

.el-header {
    padding: 0px !important;
}

body,
ul {
    padding: 0;
    margin: 0;
}