html,
body,
#app,
.el-container,
.el-main,
.el-row,
.el-col {
    height: 100%;
    margin: 0;
    /* 在followPage页面用到了padding为0 */
    padding: 0 !important;
}

.el-header {
    padding: 0px !important;
}

body,
ul {
    padding: 0;
    margin: 0;
}