.bg-purple-right {
  background: white;
  color: rgb(212, 212, 212);
}
.bg-purple-left {
  background: #ffffff;
}
.row-bg {
  background-color: #f9fafc;
}
.writing-back-button {
  background-color: #ffffff;
  border: 1px solid #409EFF;
  color:black;
  font-size: 80%;
  border-radius: 120px;
  width: 80%;
  height: 6vh;
  margin: 10% 0px 0px 10%;
  &:hover {border-color: rgb(129, 184, 240); color:#409EFF; border-width: 4px solid; }
}
.el-main {
  padding: 0px;
}
.navigation-buttons-Submission,.navigation-buttons-cancel{
  background: none;
  border-color:#409EFF;
  margin-top:5%;
  width: 45%;
  height: 8%;
}
.writing-fit-button {
  color: #409EFF;
  width: 5%;
  height: 8%;
}
.el-menu-vertical-demo {
  min-height: 85vh;
  max-height: 85vh;
  width: 100%;
}
.writing-problem {
  margin-left: 10%;
  background: none;
  border: none;
  color: rgb(112, 112, 112);
  &:hover {color: rgb(238, 189, 54);border: none;}
}
.block {
  width: 40%;
}
.writing-see-button{
  border: none;
  margin-left: auto;
  &:hover {border: none;background: none;}
}
.writing-set-button {
  position:absolute;
  right: -1%;
  top:25%;
  border: none;
  &:hover {border: none;background: none;}
}
.writing-newanthology-button {
  width: 100%;
  color: black;
  text-align: left;
  margin-left: 8%;
}
.writing-setup-button{
  width: 100%;
  margin-left:auto;
}
.writeArticle{
  width: 40vh;
  height: 100vh;
  float: left;
}
.wangEditorboxtow{
  width: 76%;
  float: left;
}
.wangEditorboxone{
  width: 100%;
  float: left;
}
.leftlist{
  height: 4vh;
  margin-left:1vw;
  list-style-type: none;
  color: #000;
  padding-top:2vh;
  &:hover{background:rgb(165, 165, 165);cursor:pointer;}
}
.leftlistclick{
  height: 4vh;
  margin-left:1vw;
  list-style-type: none;
  color: #000;
  padding-top:2vh;
  background:rgb(165, 165, 165);
}