@media screen and (max-width: 1440px) {
    .determineHidden {
        display: none !important;
    }
    .dertermineBlock {
        display: block !important;
    }
}

.myhead {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
}

.determineHidden {
    display: block;
}

.dertermineBlock {
    display: none;
}

.navElement {
    float: left;
    text-decoration: none;
}

.imgBox {
    padding-top: 0.5%;
}

.userHead {
    float: right;
}

.cancelText {
    text-decoration: none;
}