.navElement {
    float: left;
    text-decoration: none;
}
.imgBox{
    padding-top:0.6%;
}

.userHead {
    float: right;
}

.cancelText {
    text-decoration: none;
}

// .myhead {
//     position: fixed;
//     top: 0;
//     right: 0;
//     left: 0;
//     z-index: 3;
// }